providers:
  cf:
    account_id: b449d122b93967017aaaca1422691e68
    class: octodns_cloudflare.CloudflareProvider
    delete_pcent_threshold: 0.3
    token: env/CLOUDFLARE_TOKEN
    update_pcent_threshold: 0.3
  yaml-zonefiles:
    class: octodns.provider.yaml.YamlProvider
    directory: ./dns
    enforce_order: false
zones:
  lorebooks.wiki.:
    sources: [yaml-zonefiles]
    targets: [cf]
  stellapent.wiki.:
    sources: [yaml-zonefiles]
    targets: [cf]
  lorebooks.eu.org.:
    sources: [yaml-zonefiles]
    targets: [cf]
