[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
octodns = "*"
octodns-cloudflare = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
merge-records = "pipenv run merge-zonefiles"
merge-zonefiles = "./script/merge-zonefiles"
dns-plan = "pipenv run dns-dryrun"
dns-deploy = "pipenv run dns-apply"
dns-dump = "pipenv run dns-import"
dns-diff = "octodns-compare --config-file=./octodns-config.yml --a yaml-zonefiles --b cf"
dns-import = "octodns-dump --config-file=./octodns-config.yml --output-dir=./dns --output-provider=yaml-zonefiles"
dns-dryrun = "octodns-sync --config-file=./octodns-config.yml"
dns-apply = "octodns-sync --config-file=./octodns-config.yml --doit"
